body
{
    font-family: 'Handlee', cursive;
    background: rgb(141,224,219);
background: linear-gradient(297deg, rgba(141,224,219,1) 23%, rgba(28,47,153,1) 48%, rgba(201,111,189,1) 76%);
}

.header_div
{
    background-color:rgb(174, 124, 184);
    color: white;
}

.header_div img
{
    width: 100px;

}

.main_div
{
    background: rgb(154,213,210);
background: linear-gradient(297deg, rgba(154,213,210,1) 23%, rgba(101,116,201,1) 48%, rgba(204,143,196,1) 76%);
    padding: 10px;
    margin-top: 15px;
    border: 3px solid black;

}

.main_div label{
    background: rgb(50,200,192);
background: linear-gradient(297deg, rgba(50,200,192,1) 23%, rgba(60,80,194,1) 48%, rgba(196,27,173,1) 76%);
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px rgb(0, 0, 0);
    color: black;
}

#camera , #result
{
    border: 2px solid black;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px rgb(0, 0, 0);

}
.main_div button
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px black;
    border: 1px solid;
}

.footer_div
{
    margin-bottom: 15px;
}

.footer_div h4
{
    background: rgb(50,200,192);
    background: linear-gradient(297deg, rgba(50,200,192,1) 23%, rgba(60,80,194,1) 48%, rgba(196,27,173,1) 76%);
border-radius: 10px;
padding: 5px;
box-shadow: 5px 5px 18px rgb(0, 0, 0);
}

.footer_div img{
    width: 70px;

    
}

.copy_right_footer
{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background: rgb(50,200,192);
    background: linear-gradient(104deg, rgba(50,200,192,1) 23%, rgba(60,80,194,1) 48%, rgba(196,27,173,1) 76%);
    line-height: 3;
    text-align: center;
}